{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h2>{{ event.title }}</h2>
        <p>{{ event.description }}</p>
        <p>Date: {{ event.date }}, Time: {{ event.time }}</p>
        <p>Location: {{ event.location }}</p>
        <p>Available Slots: {{ event.slots_available }}</p>

        {% if event.slots_available > 0 %}
            <a href="{% url 'register' event.id %}" class="btn btn-success">Register</a>
        {% else %}
            <p class="text-danger">Event is fully booked.</p>
        {% endif %}
        {% if user_registration %}
            <a href="{% url 'unregister' event.id %}" class="btn btn-danger">Unregister</a>
        {% endif %}
    </div>
{% endblock %}
